{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Notes{% endblock %}</h1>
{% endblock %}

{% block content %}

<br />

<div class="container">

  <div class="row">
    <div class="col">
      <strong>04/12/2023</strong>
        <ul>
          <li>Get your project into Github</li> 
          <li>Make sure your project is in a working state</li> 
          <li>git config user.email "cmatchett@belfastmet.ac.uk"</li>
          <li>git config user.name "Chris Matchett"</li>
          <br />
          <img src="static/images/github.png" style="border:1px solid #ccc;width:80%" />
        </ul>

      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <strong>21/11/2023</strong>
        <ul>
          <li>Progress, progress, progress</li>  
        </ul>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col">
  
      <strong>20/11/2023</strong>
        <ul>
          <li>Get your 'hello world' flask project up and running.</li>  
          <li>Work on the HTML and CSS.</li> 
          <li>Give the appearance of a working application.</li> 
          <li>Following the visualisation, work on making the Python work.</li> 
          <li>You may be best not trying to integrate a database at first.</li> 
          <li>Use test data.</li> 

          <pre> 
          albums = [
            [“Dire Straits”, “Brothers in Arms”, “1986”],
            [“Fleetwood Mac”, “Rumours”, “1978”]
          ]
          </pre> 
       </ul>

      <hr />

    </div>
  </div>


</div>



{% endblock %}
